#all {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 0vh 0;
}

#content {
	max-width: 60vw;
	flex-grow: 1;
	padding: 0 5%;
	background-color: var(--background-black);
}

.title {
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.section {
	height: 100vh;
}

.section > * {
	padding: 1% 0;
}

li {
	list-style: none;
	padding: 1%;
}
