:root{
	--white: #EEEEEE;
	--black: #111111;
	--primary: #880044;
	--secondary: #CCAA11;
	--text: #111111;
}
* {
	font-family: 'Space Grotesk', sans-serif;
}


body {
	margin: 0;
	background-color: var(--black);
	overflow-x: hidden;
}

.h1 {
	font-size: 10vw;
	font-weight: bold;
	color: var(--white);
	margin: 0 0;
}

.h2 {
	font-size: 6.2vw;
	font-weight: bold;
	color: var(--primary);
	margin: 0 0; 
}

.h3 {
	font-size: 3.1vw;
	font-weight: bold;
	color: var(--secondary);
	margin: 0 0; 
}

p {
	font-size: 1.55vw;
	color: var(--text);

}
