:root{
	--white: #EEEEEE;
	--black: #111111;
	--primary: #880044;
	--secondary: #CCAA11;
	--text-black: #111111;
	--text-white: #EEEEEE;
}
* {
	font-family: 'Space Grotesk', sans-serif;
	margin: 0;
}


body {
	margin: 0;
	background-color: var(--black);
	overflow-x: hidden;
}

.h1 {
	font-size: 10vw;
	font-weight: bold;
	color: var(--white);
}

.h2 {
	font-size: 6.2vw;
	font-weight: bold;
	color: var(--primary);
}

.h3 {
	font-size: 3.1vw;
	font-weight: bold;
	color: var(--secondary);
}

p {
	font-size: 1.55vw;
	color: var(--text-white);

}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
